<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible content='IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Directory</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Contact Directory</h1>

  <div id="contact-details">
    <h2>Current Contacts</h2>
  </div>
  <div class="contact-details">
    <p>Id</p>
    <p>Name</p>
    <p>Phone</p>
    <p>Email</p>
    <p>Address</p>
  </div>
  <div id="contact-info">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="contacts"></script>
    <script>
      $(document).ready(function () {
        $.getJSON('http://localhost:3000/contacts', function (data) {

          // Loop through each contact in the data
          data.forEach(function (contact) {
            // Create a table row for the contact
            let row = $('<div class="contact-details"></div>');

            // Create a separate div for each contact detail
            let id = $('<div class="contact-details">' + contact.id + '</div>');
            let name = $('<div class="contact-details">' + contact.name + '</div>');
            let phone = $('<div class="contact-details">' + contact.phone + '</div>');
            let email = $('<div class="contact-details">' + contact.email + '</div>');
            let address = $('<div class="contact-details">' + contact.address + '</div>');

            // Append each contact detail to the row
            row.append(id);
            row.append(name);
            row.append(phone);
            row.append(email);
            row.append(address);


            // Append the row to the contact-info div
            $('#contact-info').append(row);
          });
        })
          .fail(function (xhr, status, error) {
            console.error('Error fetching router data:', error);
          });
      });
    </script>
  </div>
  <div class="updates">
    <form class="contact-form" id="add-contact" action="/contacts" method="POST">
      <h2>Add Contact</h2>
      <label for="name">Name:</label>
      <input type="text" name="name" required>

      <label for="phone">Phone Number:</label>
      <input type="text" name="phone" required>

      <label for="email">Email:</label>
      <input type="email" name="email" required>

      <label for="address">Address:</label>
      <input type="text" name="address">

    <button type="submit" id=add-contact class="button">Add</button> 
    </form>

    <form class="contact-form" id="update-contact" action="/contacts" method="PUT">
      <h2>Update Contact</h2>
      <label for="id">Id</label>
      <input type="text" name="id" required>

      <label for="update-name">Name:</label>
      <input type="text" name="update-name">

      <label for="update-phone">Phone Number:</label>
      <input type="text" name="update-phone">

      <label for="update-email">Email:</label>
      <input type="email" name="update-email">

      <label for="update-address">Address:</label>
      <input type="text" name="update-address">

    <button type="submit" id="update-contact" class="button">Update</button> 
    </form>

    
    <form class="contact-form" id="delete-contact" action="/contacts" method="DELETE">
      <h2>Delete Contact</h2>
      <label for="id">Contact ID:</label>
      <input type="text" name="id" required>

    <button type="submit" id="delete-contact" class="button">Delete</button>
    </form>
  </div>
</body>

</html>