<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>

  <body>
    <h1>Backend portion for Troop application</h1>
    <p> 
      <a
        class="button"
        href="https://girlscouttroop2012.netlify.app"
        target="_blank"
        >See Website Here!</a
      >
    </p>
  </body>
</html>
