@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Grape+Nuts&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    color: 	hsl(123, 100%, 18%);
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(53, 81%, 96%);
}
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
}

label{
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  box-sizing: border-box;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 5px;
  flex: 1;
}

.updates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px;
  letter-spacing: 1px;
  text-align: center;
}

#add-contact {
  grid-column: 1 / span 2;
}

#update-contact {
  grid-column: 3 / span 2;
}

#delete-contact {
  grid-column: 5 / span 2;
}

.contact-form{
  padding: 20px;
  max-width: 300px;
  }

.button{
  background-color:hsl(328, 98%, 85%);
  border-radius: 25px;
  border: none;
  box-shadow: 0 2px 2px hsl(328, 10%, 85%);
  color: hsl(328, 98%, 15%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  h1{
    font-size: 40px;
  }
  img{
    width: 50%;
    margin: 3%;
  }
}

@media screen and (max-width: 600px) {
  .button{
    background-color:hsl(328, 98%, 75%);
    border-radius: 25px;
    border: none;
    color: hsl(0, 100%, 100%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1%;
    cursor: pointer;
  }
}